body {
    background-color: #666;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #000;
}
/*
@font-face {
    font-family: 'redCircle';
    src: url('../font/redcircl-webfont.eot');
    src: url('../font/redcircl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/redcircl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

#game, #offScreenHolder {
    position: relative;
    margin: 50px auto;
    width: 800px;
    height: 700px;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
}

#offScreenHolder {
    position: absolute;
    top: -2000px;
}

#splash, #pipeGame, #level, #main, #shop, #editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#main div.dialogButton{
    margin: 10px;
}

#playfield, #editorPlayField {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    background-color: #fff;
}

.fieldTopLeft {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #666;
}

.fieldBottomRight {
    position: absolute;
    top: 38px;
    bottom: 38px;
    left: 38px;
    right: 38px;
    border: 2px solid #000;
    background-color: #fff;
}

#playfield canvas {
    z-index: 1;
}

.finish, .start {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 3;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

#editor {
    font-family: Arial;
    color: #000;
    font-weight: bold;
    font-size: 12px;

}

#editor #borderTileInfo,
#editor #tileInfo {
    z-index: 999;
    position: absolute;
    display: none;
    width: 150px;
    background-color: #fff;
    border: 2px solid #000;
    padding: 10px;
}

#editor #borderTileInfo select,
#editor #tileInfo select,
#editor #tileInfo input {
    width: 80px;
}

#editor #editorPlayField #moreRows,
#editor #editorPlayField #lessRows,
#editor #editorPlayField #moreCols,
#editor #editorPlayField #lessCols {
    position: absolute;
    cursor: default;
    background-image: url('../img/arrows.png');
    background-repeat: no-repeat;
}

#editor #editorPlayField #moreRows:hover,
#editor #editorPlayField #lessRows:hover,
#editor #editorPlayField #moreCols:hover,
#editor #editorPlayField #lessCols:hover {
    cursor: pointer;
}

#editor #editorPlayField #moreCols {
    left: 30px; top: -30px;height: 24px; width: 29px;background-position: -29px 0;
}
#editor #editorPlayField #lessCols {
    left: 0px; top: -30px;height: 24px; width: 29px;background-position: 0 0;
}
#editor #editorPlayField #moreRows {
    left: -30px; top: 30px;height: 29px; width: 24px;background-position: -26px -25px;
}
#editor #editorPlayField #lessRows {
    left: -30px; top: 0px;height: 29px; width: 24px;background-position: -1px -25px;
}
#editor #editorPlayField #selectedTile {
    position: absolute;
    display: none;
    border: 2px solid #f00;
    z-index: 999;
}
#editor #editorInstructions {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 225px;
    font-weight: normal;
}

#editor #levelAuthor {
    position: absolute;
    display: block;
    bottom: 90px;
    right: 90px;
    width: 150px;
}

#editor #submitLevel {
    position: absolute;
    bottom: 30px;
    right: 75px;
}

#splash {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    padding-top: 71px;
    background-color: #fff;
}

#splash div.splashTitle {
    position:relative;
    margin: 0 auto 0 auto;
    width: 666px;
    height: 80px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

#splash div.loadProgress {
    position: relative;
    margin: 371px auto 0 auto;
    width: 273px;
    height: 17px;
    padding-top: 2px;
    border: 2px solid #000;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: arial;
}

#splash div.loadProgress span.progressPercentage {
    position: relative;
    z-index: 2;
}

#splash div.loadProgressBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 65%;
    background-color: #999;
    z-index: 1;
}

#splash div.dialogButton {
    position: relative;
    margin: 340px auto 0 auto;
    display: none;
}


#dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
#dialog #dialogBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.84;
}
#dialog #dialogHolder {
    position: relative;
    width: 506px;
    height: 328px;
    top: 50%;
    border: 2px solid #000;
    margin: -164px auto 0 auto;
    background-color: #fff;
}
#dialog #dialogTitle {
    position: relative;
    width: 428px;
    height: 33px;
    top: 38px;
    margin: 0 auto 0 auto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#dialog .dialogTitleWin1:before {content: 'Awesome!';}
#dialog .dialogTitleWin2:before {content: 'You rock!';}
#dialog .dialogTitleWin3:before {content: 'Congratulations!';}
#dialog .dialogTitleWin4:before {content: 'You are the best';}
#dialog .dialogTitleWin5:before {content: 'A winner is you!';}

#dialog .dialogTitleBomb1:before {content: 'KABOOM!';}
#dialog .dialogTitleBomb2:before {content: 'You set off a bomb';}
#dialog .dialogTitleBomb3:before {content: 'Not the red wire!';}
#dialog .dialogTitleBomb4:before {content: 'Click, click, BOOM!';}
#dialog .dialogTitleBomb5:before {content: 'Cut the red wire first';}

#dialog #dialogText {
    position: relative;
    width: 428px;
    height: 150px;
    overflow: hidden;
    margin: 55px auto 0 auto;

    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}

#dialog #dialogButtons {
    position: relative;
    width: 428px;
    height: 36px;
    margin: 23px auto 0 auto;
}
#dialog #dialogButtons .dialogButton {
    display: inline;
    float: left;
}
#dialog #dialogButtons .dialogButtonFirst {
    display: inline;
    float: left;
}

div.dialogButton {
    border: 2px solid #000;
    width: 164px;
    height: 36px;
    padding-top: 10px;
    overflow: hidden;
    cursor: default;
}
div.dialogButton:hover
{
    cursor: pointer;
}
div.dialogButton div.dialogButtonText {
    width: 164px;
    height: 30px;
    overflow: hidden;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

div.dialogButton div.buttonMenu:before {content: 'Menu';}
div.dialogButton div.buttonNext:before {content: 'Next';}
div.dialogButton div.buttonPrev:before {content: 'Previous';}
div.dialogButton div.buttonAgain:before {content: 'Again';}
div.dialogButton div.buttonOk:before {content: 'Ok';}
div.dialogButton div.buttonYes:before {content: 'Yes';}
div.dialogButton div.buttonNo:before {content: 'No';}
div.dialogButton div.buttonShop:before {content: 'Shop';}
div.dialogButton div.buttonLevels:before {content: 'Levels';}
div.dialogButton div.buttonMain:before {content: 'Main';}
div.dialogButton div.buttonCancel:before {content: 'Cancel'}
div.dialogButton div.buttonOptions:before {content: 'Options';}
div.dialogButton div.buttonPlay:before {content: 'Play';}
div.dialogButton div.buttonEditor:before {content: 'Editor';}
div.dialogButton div.buttonSubmit:before {content: 'Submit';}

#level {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

#level .levelHolder {
    position: absolute;
    float: right;
    height: 600px;
    top: 100px;
    overflow: hidden;
}
#level .levelSelect {
    position: relative;
    float: left;
    background-color: #fff;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding-right: 100px;
}

.scrollbars {
    position: absolute;
    height: 96%;
    width: 15px;
    top: 0px;
    right: 10px;
    margin-top: 2%;
    background-color: #000;
    z-index: 999;
}

.scrollbars .scrollButton {
    position: relative;
    height: 13px;
    border: 1px solid #aaa;
    background-color: #ddd;
}

.scrollbars .topButton {top: 0;}
.scrollbars .bottomButton {position: absolute;bottom: 0; width: 13px;}
.scrollbars .slider {
    position: absolute;
    top: 15px;
    width: 13px;
    height: 100px;
    border: 1px solid #99f;
    background-color: #aaf;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

#achievementNotification {
    position: absolute;
    background-color: #f00;
    width: 300px;
    height: 80px;

    margin-left: 250px;
    text-align: center;
    bottom: -80px;
    z-index: 999;
}

#achievementNotification .achievementNotificationHeader{
    color: #fff;
    font-size: 18px;
}

#achievementNotification .achievementNotificationTitle {
    margin-top: 10px;
    color: #fff;
    font-size: 15px;

}

#level .levelButton {
    position: relative;
    display: inline;
    float: left;
    width: 110px;
    height: 123px;
    margin: 25px 0 25px 50px;
    border: 2px solid #000;
    cursor: default;
}
#level .levelButton:hover {
    cursor: pointer;
}
#level .levelButton .levelNo {
    position: relative;
    top: 20px;
    left: 0;
    width: 110;
    height: 46;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

#level .levelButton .levelGold {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 7px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#level .levelButton .levelGold:before {
    content: 'gold: ';
}